@import '../vars.sass'
@import '../media.sass'

.columns
    padding: 40px $padding
    +sm()
        padding: 40px $sm-padding
    display: grid
    overflow: auto
    grid-template-columns: repeat(3, minmax(270px, 1fr))
    grid-template-rows: 1fr
    grid-column-gap: 30px
    background: #f5f5f5